@main-color: #6699cc;
@white: #ffffff;
@keyframes fadeIn {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}

@keyframes fadeOut {
  from {
	opacity: 1;
  }
  to {
	opacity: 0;
  }
}

body, html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  width: 100%;
  margin: 0;
  background-color: @white;
  overflow: hidden;
  *:focus {
	outline: 0;
  }
}

body > div {
  -webkit-transition: all 1s ease-in-out;
}

[role="main"],
[role="right-nav"] {

  transition: .3s all ease;
  width: 100%;
  //min-height:100%;
  position: absolute;
}

[role="main"] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 940;
  .active-nav & {
	left: -80%;
  }
  .list-heading,
  .list-footer {
	position: absolute;
	z-index: 946;
	top: 44px;
	left: 0;
	right: 0;
	background-color: rgba(240, 248, 255, .7);
	color: darkgray;
	height: 30px;
	padding: .1rem 1rem .3rem 1rem;
	text-align: center;

  }
  .list-footer {
	top: auto;
	bottom: 44px;
  }
  .list-heading.top-nav {
	border: 0;
  }
  .button-group {
	background-color: rgba(240, 248, 255, .7);
	position: absolute;
	text-align: center;
	top: 74px;
	left: 0;
	right: 0;
	bottom: auto;
	z-index: 946;
	width: 100%;
	height: 47px;
	line-height: 42px;
	vertical-align: middle;
	padding: 0;
	.btn-group {
	  margin: 0 auto;
	}
  }
  .view {
	box-sizing: border-box;
	position: relative;
	padding-top: 44px;
	z-index: 941;
	background-color: @white;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	&.times {
	  .list-group-item {
		pointer-events: none;
	  }
	}
	&.with-list-head {
	  padding-top: 29px + 44px;
	}
	&.with-list-head.with-button-nav {
	  padding-top: 121px;
	}
	&.slide.ng-leave {
	  animation: fadeOut 0.5s both ease-in;
	}
	&.slide {
	  animation: fadeIn 0.25s both ease-in;
	}

	.list-group {
	  position: relative;
	  .list-group-item {
		border-radius: 0;

		&:active {
		  background-color: lightgrey;
		  color: #000 !important;

		  &.boat-gone {
			color: black;
			.pm-color,
			.am-color {
			  color: black;

			}

		  }
		}
		&:link {
		  background-color: medium;
		  color: #000 !important;
		}
		.times & {
		  &:active {
			background-color: @white;
		  }
		}
		.fa {
		  font-size: 24px !important;
		}

		.am-color {
		  color: orange;
		}
		.pm-color {
		  color: darkblue;
		}
		&.boat-gone {
		  color: lightgray;

		  .pm-color,
		  .am-color {
			color: lightgray;
		  }

		}
		&.active {
		  background-color: lightblue;
		  border: 0;
		}
		.annotation {
		  font-size: 9px;
		  width: 60%;
		  text-align: right;
		  line-height: 100%;
		  vertical-align: middle;
		}
	  }
	}
  }
  .navbar-header, .navbar-footer {
	position: absolute;
	z-index: 950;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	font-weight: 600;
	text-align: center;
	border-radius: 0;
	color: white;
	background-color: @main-color;
	border-color: @main-color;
	padding: .5rem 1rem .6rem 1.25rem;
	.fa {
	  font-size: 24px !important;
	}
	.breadcrumb-text {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  /* height: 6em; */
	  font-size: 14px;
	  line-height: 24px;
	  vertical-align: top;
	}
	.back-button {
	  position: relative;
	  float: left;
	  background-color: lightgray;
	  color: @main-color;
	  padding: 1px 6px 1px 16px;
	  &::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		content: ' 	';
		width: 10px;
		height: 26px;
		border-width: 13px 10px 13px 0;
		border-style: solid;
		border-color: @main-color;
		border-right-color: lightgray;

	  }
	}
  }
  .navbar-footer {
	position: absolute;
	z-index: 950;
	top: auto;
	bottom: 0;

  }

}

.input-group {
  margin: 4px auto 0 auto;
  width: 230px;
  * {
	border: 0;
  }
  .input-group-addon {
	background-color: transparent;
	padding: 4px 6px;

  }

}

.datepicker {
  //border-width:0;
  text-align: left;
  background-color: transparent;
  padding: 0 4px;
  width: 200px;
  &.form-control {
	background-color: transparent;
  }

  table tr td {
	padding: 3px 6px;
  }
  table tr td.active.active {
	background-color: @main-color;
	background-image: url('');
	border-radius: 0;

  }
  table tr td.day.disabled {
	color: lightgray;
  }
  &:focus {
	outline: 0;
  }
  &.datepicker-dropdown {
	background-color: @white;

	border-width: 1px;
	width: auto;
	//&.datepicker-orient-left:before {
	//  left: 50% !important;
	//
	//}
	//&.datepicker-orient-left:after {
	//  left: 50% !important;
	//  margin-left: 1px;
	//}

  }
}

[role="right-nav"] {
  position: absolute;

  right: -200%;
  z-index: 1000;
  background-color: white;
  .fa {
	font-size: 24px !important;
  }
  .active-nav & {
	right: 0%;
	width: 80%;
  }
  .list-group-item {
	&:active {
	  background-color: lightgray;
	  color: black;
	}
  }
}

.active-nav {
  overflow: hidden;

  .offcanvas::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
	opacity: .5;
	z-index: 950;
  }

}

.map.modal {
  height: 100%;

  .modal-dialog {
	height: 100%;
	.modal-content {
	  height: 97%;
	  .modal-header {
		height:10%;
	  }
	  .modal-body {
		padding: 0;
		height: 90%;
		.angular-google-map {
		  height: 100%;
		  .angular-google-map-container{
			height: 100%;
		  }

		}
	  }

	}
  }
}







