@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body,
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  overflow: hidden;
}
body > div {
  -webkit-transition: all 1s ease-in-out;
}
[role="main"],
[role="right-nav"] {
  transition: .3s all ease;
  width: 100%;
  position: absolute;
}
[role="main"] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 940;
}
.active-nav [role="main"] {
  left: -80%;
}
[role="main"] .list-heading,
[role="main"] .list-footer {
  position: absolute;
  z-index: 946;
  top: 44px;
  left: 0;
  right: 0;
  background-color: rgba(240, 248, 255, 0.7);
  color: darkgray;
  height: 30px;
  padding: .1rem 1rem .3rem 1rem;
  text-align: center;
}
[role="main"] .list-footer {
  top: auto;
  bottom: 44px;
}
[role="main"] .list-heading.top-nav {
  border: 0;
}
[role="main"] .button-group {
  background-color: rgba(240, 248, 255, 0.7);
  position: absolute;
  text-align: center;
  top: 74px;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 946;
  width: 100%;
  height: 47px;
  line-height: 42px;
  vertical-align: middle;
  padding: 0 ;
}
[role="main"] .button-group .btn-group {
  margin: 0 auto;
}
[role="main"] .view {
  box-sizing: border-box;
  position: relative;
  padding-top: 44px;
  z-index: 941;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
[role="main"] .view.with-list-head {
  padding-top: 73px;
}
[role="main"] .view.with-list-head.with-button-nav {
  padding-top: 121px;
}
[role="main"] .view.slide.ng-leave {
  animation: fadeOut 0.5s both ease-in;
}
[role="main"] .view.slide {
  animation: fadeIn 0.25s both ease-in;
}
[role="main"] .view .list-group {
  position: relative;
}
[role="main"] .view .list-group .list-group-item {
  border-radius: 0;
}
[role="main"] .view .list-group .list-group-item:hover {
  background-color: lightgray;
  color: #000!important;
}
[role="main"] .view .list-group .list-group-item:hover.boat-gone {
  color: black;
}
[role="main"] .view .list-group .list-group-item:hover.boat-gone .pm-color,
[role="main"] .view .list-group .list-group-item:hover.boat-gone .am-color {
  color: black;
}
[role="main"] .view .list-group .list-group-item .fa {
  font-size: 24px!important;
}
[role="main"] .view .list-group .list-group-item .am-color {
  color: orange;
}
[role="main"] .view .list-group .list-group-item .pm-color {
  color: darkblue;
}
[role="main"] .view .list-group .list-group-item.boat-gone {
  color: lightgray;
}
[role="main"] .view .list-group .list-group-item.boat-gone .pm-color,
[role="main"] .view .list-group .list-group-item.boat-gone .am-color {
  color: lightgray;
}
[role="main"] .view .list-group .list-group-item.active {
  background-color: lightblue;
  border: 0;
}
[role="main"] .view .list-group .list-group-item .annotation {
  font-size: 9px;
  width: 60%;
  text-align: right;
  line-height: 100%;
  vertical-align: middle;
}
[role="main"] .navbar-header,
[role="main"] .navbar-footer {
  position: absolute;
  z-index: 950;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
  text-align: center;
  border-radius: 0;
  color: white;
  background-color: #6699cc;
  border-color: #6699cc;
  padding: .5rem 1rem .6rem 1.25rem;
}
[role="main"] .navbar-header .fa,
[role="main"] .navbar-footer .fa {
  font-size: 24px!important;
}
[role="main"] .navbar-header .breadcrumb-text,
[role="main"] .navbar-footer .breadcrumb-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 6em; */
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}
[role="main"] .navbar-header .back-button,
[role="main"] .navbar-footer .back-button {
  position: relative;
  float: left;
  background-color: lightgray;
  color: #6699cc;
  padding: 1px 6px 1px 16px;
}
[role="main"] .navbar-header .back-button::before,
[role="main"] .navbar-footer .back-button::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: ' 	';
  width: 10px;
  height: 26px;
  border-width: 13px 10px 13px 0;
  border-style: solid;
  border-color: #6699cc;
  border-right-color: lightgray;
}
[role="main"] .navbar-footer {
  position: absolute;
  z-index: 950;
  top: auto;
  bottom: 0;
}
[role="right-nav"] {
  position: absolute;
  right: -100%;
  z-index: 1000;
  background-color: white;
}
[role="right-nav"] .fa {
  font-size: 24px!important;
}
.active-nav [role="right-nav"] {
  right: 0%;
  width: 80%;
}
.active-nav {
  overflow: hidden;
}
.active-nav .offcanvas::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: .5;
  z-index: 950;
}
