<div class="container-fluid">
    <div class="row filler">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group input-group-sm input-wrapper">
                <input type="text" class="form-control ticketForm" ng-model="ticketId"  value="5123410116262536621495"  />
                                          <div class="ticketLookupButton input-group-addon" ng-click="ticketLookup(ticketId)">
                                              <span class="fa fa-ticket"></span><span class="fa fa-label">Lookup</span>
                                           </div>

            </div>
        </div>
    </div>
    <div class="row filler">
        <div class="col-xs-12">&nbsp;</div>
    </div>
</div>
<img src="./images/wave2goTicket.png" class="wave2goTicket img-responsive" alt="wave2goTicket" />
<ul class="ticket-list list-unstyled list-group">
    <li class="list-group-item" ng-repeat="t in ticketData.History" >
        <h6 class="list-group-item-heading">{{t.Description}}</h6>
        <p class="list-group-item-text">{{t.Action}} - {{t.Date}}</p>

     </li>
</ul>
