<nav role="right-nav">
    <ul class="list-unstyled list-group">
        <li class="list-group-item" ng-click='goToUrl("/departing")'>
            <span class="pull-left fa fa-home"></span>
            Departure Terminals
        </li>
        <li class="list-group-item">
            <span class="pull-left fa fa-heart"></span>
            Favorite Terminals
        </li>
        <li class="list-group-item">
            <span class="pull-left fa fa-ticket"></span>
            Ticket Lookup
        </li>
        <li class="list-group-item">
            <span class="pull-left fa fa-gear"></span>
            Preferences
        </li>
    </ul>
</nav>